/*All*/

#all {
  background-color: rgb(2, 0, 19);
}

/*Canvas*/

  #other {
    background-image: url("./Japanese-Castle.jpg");
    background-size: cover;
    margin: 0;
  }

/*Stuff at the top*/

#otter_container {
  background-color: rgb(2, 0, 19);
}

  
  #otter_container div img {
    max-width: 500px;
    max-height: 100px;
  }
  
  #otterCounter {
    font-size: 2em;
    text-align: center;
    padding-top: 1%;
    padding-left: 2%;
  }

  #homeCountDown {
    padding-top: 1%;
    font-size: 2em;
    color: maroon;
    font-weight: bolder;
  }

.modal-dialog {
          width: 360px;
          height:600px !important;
        }

#modal {
    background-image: url("modal.jpg");
    background-size: cover;
    border-radius: 10px;
    padding: 5%;
  }



  #modal-restart-body {
    background-image: url("fantasy.jpg");
    background-size: cover;
    border-radius: 30px;
    text-align: center;
  }

  #restart-btn {
    padding: 2%;
    font-size: 1.1em;
  }

  #question_perso {
    visibility: hidden;
    border-radius: 30px;
    padding-top: 3%;
    padding-left: 1%;
    font-size: 1.2em;
  }

  #geisha {
    background-image: url("./geisha.png");
    background-size: cover;
  }

  button {
    border-radius: 10px;
    background-color: maroon;
    color: white;
    font-weight: bolder;
  }

  .submit_answer {
    padding: 2%;
    background-color: #9e9c9e;
    color: white;
  }

  .result {
    visibility: hidden;
    border-radius: 10px;
    background-color: #5947d7;
    color: white;
    padding: 2%;
  }

  #question {
    font-size: 1.2em;
    background-color: #5947d7;
    color: white;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
  }

  #victory-body {
    background-image: url("./modal.jpg");
    background-size: cover;
    border-radius: 30px;
    text-align: center;
    font-size: 1.3em;
  }
 
  audio {
      max-height: 20px;
      visibility: hidden;
  }
